h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

td {
  background: #fff;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td:last-child {
  text-align: center;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(241, 40, 40);
  transition: 0.5s;
}
