body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #aaa;
  margin: 0;
  padding: 0;
}

.form {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.insert {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.input {
  flex-direction: column;
  display: flex;
}

.input input {
  /* background-color: #3b3b3b; */
  background-color: #e4e0e0;
  color: #000;
  border: none;
  border-bottom: 2px solid;
  padding: 10px 8px;
  outline: none;
  margin-bottom: 0.6em;
}

input::placeholder {
  color: #000;
}

.submit,
.reset {
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1em;
}

.submit {
  margin-bottom: 5px;
}

.submit:hover {
  background-color: rgba(52, 201, 52, 0.945);
  transition: 0.6s;
}

.reset:hover {
  background-color: rgb(228, 26, 26);
  transition: 0.6s;
}
